extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4(role='navigation')
    div.container
      a.navbar-brand(href='/') BlockChain Emergencias
      nav.navbar.navbar-dark.bg-dark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      div#navbarToggleExternalContent.collapse.navbar-collapse
        form.form-inline.text-white
            div.col-12.col-md-auto.p-0
              if user.user_type != 'Proveedor de recursos'
                a(href='solicitud')
                  button.btn.btn-primary.mr-2(type='button') Solicitud
              a(href='emergencias')
                button.btn.btn-primary.mr-2(type='button') Emergencias
              a(href='cierre_sesion')
                button.btn.btn-secondary.mr-2(type='button') Cerrar sesión
                

  main.container(role='main')
    if message.length > 0
      div.alert.alert-success(role='alert') #{message}
    .jumbotron
      h1 Panel de gestión de la organización #{user.organization_name}
      br
      h4 Recursos disponibles:
      br
      p Ambulancias: #[b#available_1 #{user.ambulances}] &nbsp; Bomberos: #[b#available_2 #{user.firefighters}] &nbsp; Policia: #[b#available_3 #{user.police}]
    .container
      .row
        each e in emergencies
          .col-lg-4
            .card.mb-4
              .card-body
                h5.card-title Emergencia ##{e.id}
                form(action='/emergencias', method='post', autocomplete='off')
                  input#contract_id(name='contract_id' type='hidden' value=e.id)
                  input#user_id(name='user_id' type='hidden' value=user.id)
                  input#user_ambulances(name='user_ambulances' type='hidden' value=user.ambulances)
                  input#user_firefighters(name='user_firefighters' type='hidden' value=user.firefighters)
                  input#user_police(name='user_police' type='hidden' value=user.police)
                  .row
                    .col-6
                      p Ambulancias
                    .col-3
                      b #{e.ambulances.toNumber()}
                    .col-3
                      input#resource_1.form-control.form-control-sm(type='number', min='0', max=e.ambulances.toNumber(), name='resource_1', oninput='check_available(this)')
                  .row
                    .col-6
                      p Bomberos
                    .col-3
                      b #{e.firefighters.toNumber()}
                    .col-3
                      input#resource_2.form-control.form-control-sm(type='number', min='0', max=e.firefighters.toNumber(), name='resource_2', oninput='check_available(this)')
                  .row
                    .col-6
                      p Policia
                    .col-3
                      b #{e.police.toNumber()}
                    .col-3
                      input#resource_3.form-control.form-control-sm(type='number', min='0', max=e.police.toNumber(), name='resource_3', oninput='check_available(this, 2)')
                  .d-flex.justify-content-center
                    button.btn.btn-primary(type='submit') Enviar
  script(src='js/form_send_resource.min.js')